* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kaushan Script", cursive;
  height: 280vh;
}
/* Website Logo */
.logo {
  margin-left: 15px;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 50px;
  cursor: pointer;
}
/*All Images Width */
img {
  width: 360px;
}

/*Nav Bar */
.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* Nav Bar Buttons display */
.nav-buttons {
  font-weight: bold;
  color: #ee6e90;
  font-size: 1.5rem;
}
.nav-buttonlist {
  margin-top: 20px;
  width: 200px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.nav-elements {
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.nav-elements:hover {
  color: black;
}

.cart-elements {
  margin-top: 20px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}
.cart {
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;

  margin-bottom: 20px;
}
.cart:hover {
  background-color: #ee6e90;
  color: white;
  border: 1px solid #ee6e90;
}
.phone {
  margin-top: 10px;
}

/* First Section of the website */

.section1 {
  background-image: url(./Photos/other/headerBcg.jpeg);
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
/* Overlay Container for the background image*/
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f9e494;
  opacity: 0.5;
}
/* Content of the first section */

.content1 {
  width: 100%;
  color: white;
  position: absolute;
  margin-top: 30vh;
  text-align: center;
}

.backery {
  font-size: 70px;
  color: #ee6e90;
}
.explore {
  font-family: "Kaushan Script", cursive;
  width: 160px;
  height: 60px;
  background: none;
  font-size: 30px;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
}

.explore:hover {
  background-color: black;
  color: #ee6e90;
  transition: 0.2s;
}
.section2 {
  position: relative;
  height: 38vh;
}
.us {
  color: #ee6e90;
  font-size: 60px;
}

.sec2-content {
  position: relative;
  width: 100%;
  margin-left: 70px;
}
.sec2-content h1 {
  font-size: 40px;
  margin-top: 100px;
}
.sec2-content p {
  color: #6c757d;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-content-sect2 {
  margin-top: 100px;
  width: 35%;
}
.img-container {
  width: 500px;
  height: 350px;
  position: absolute;
  right: 0;
  top: 0;
  right: 200px;
}
.img-container::before {
  content: "";
  outline: 10px solid #f9e494;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -30px;
  left: -27px;
  z-index: -1;
  transition: ease-in-out 1s;
}
.img-container:hover::before {
  top: 0;
  left: 0;
}
.img-sec2 {
  width: 100%;
  height: 100%;
  top: 0%;
  right: 0;
  margin-right: 70px;
}
.explore2 {
  font-family: "Kaushan Script", cursive;
  width: 100px;
  height: 35px;
  background: none;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 4px 4px 4px 4px;
  margin-top: 10px;
}
.explore2:hover {
  background-color: black;
  color: #ee6e90;
  transition: 0.2s;
}

/*.container::before{
    content: "";
    position: absolute;
  
    width: 500px;
    height: 350px;
    outline: 0.5rem solid #F9E494;


    
}
*/

.section3 {
  width: 100%;

  background-color: rgb(233, 227, 227);
  margin-top: 100px;
}

.section3 h1 {
  position: relative;
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
}
.store {
  font-size: 60px;
  color: #ee6e90;
}

.button-list {
  margin-top: 100px;
  width: 50%;
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: space-between;
}

.btn {
  padding: 5px;
  font-family: "Kaushan Script", cursive;
  width: auto;
  height: 35px;
  background: none;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 4px 4px 4px 4px;
  margin-top: 10px;
}
.btn:hover {
  background-color: black;
  color: #ee6e90;
  transition: 0.2s;
}
.input {
  text-align: center;
  width: 100%;
}
#search {
  border-radius: 0 3px 3px 1px;
  border: 0.5px solid rgb(206, 198, 198);
  padding-left: 10px;
  font-family: "Kaushan Script", cursive;
  margin-top: 15px;
  width: 30%;
  height: 40px;
}

input:focus {
  outline: 3px rgb(143, 199, 216) solid;
}

.fa-search {
  cursor: pointer;
  background-color: #ee6e90;
  height: 39.5px;
  padding: 10px;
  border-radius: 2px 0 0 2px;
  margin-right: -4px;
}

/*.images{
     margin-top: 30px;
     width: 100%;
     display: grid;
grid-template-rows: repeat(4,400px);
grid-template-columns: repeat(3, 400px);
 justify-content: center;
 margin-bottom: 30px;

 } 
*/

.img-text {
  width: 90%;
  height: 320px;
  background-color: white;
  display: inline-block;
  overflow: hidden;
}

.photo-text {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.img {
  transition: 1s ease-in-out;
}

.img:hover {
  transform: scale(1.1);
}

.container {
  width: 100%;
  height: 200vh;

  display: grid;
  grid-template: repeat(3, 400px) / repeat(3, 400px);
  justify-content: center;
}
