* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.context {
  width: 40%;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 40px;
  margin: auto;
  margin-top: 40vh;
  border-radius: 5px 5px 5px 5px;
}

.color {
  margin-left: 100%;
}
