*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Kaushan Script", cursive;  
}
.logo{
     margin-bottom: 5px;
     margin-top: 5px;
    width: 50px
}
img{
    width: 200px;
}
.nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
 
}
.nav-buttons{
    font-weight: bold;
    color:#ee6e90;
    font-size: 1.5rem;
    
}
 .nav-buttonlist{
   
     margin-top: 20px;
     width: 200px;
     display: flex;
     list-style: none;
     justify-content: space-between;
 }
   
.cart-elements{
    margin-top: 20px;
    width: 300px;
     
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}
.cart{
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
   
    margin-bottom: 20px;
}
.cart:hover{
    background-color:#ee6e90; 
    color: white;
}
.phone{
    margin-top: 10px;
    
}
 
.section1{
background-image: url(./Photos/other/headerBcg.jpeg);
position: relative;
text-align: center;
width: 100%;
height: 100vh;
}
 .overlay{ 

    width: 100%;
    height: 100%;
    background-color: violet;


 }
 

.content1{
    width: 100%;
    color: white;
    position: absolute;
    margin-top: 35vh;
    text-align: center;
}
 
.backery{
    font-size: 70px;
    color:#ee6e90; ;
}
.explore{
    font-family: "Kaushan Script", cursive;  
    width: 140px;
    height: 55px;
    background: none;
    font-size: 30px;
    font-weight: bold;
    border: 3px solid black;
border-radius: 4px 4px 4px 4px;

}

.explore:hover{
    background-color: black;
    color:#ee6e90;
    transition: 0.2s;
}
.section2{
    position: relative;
    height: 50vh;
    margin-bottom: 180px;
}

.sec2-content{
   position: relative;
    width: 100%;
    margin-left: 70px;
}
.sec2-content h1{
    font-size: 40px;
    margin-top: 100px;
 
}
.sec2-content p{
    color:#6c757d;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-content-sect2{
    width: 40%;
}
.img-container{
    width: 500px;
    height: 350px;
   position: absolute;
    right: 0;
    top: 0;
    right: 100px;
}
.img-container::before{
    content: "";
    outline: 10px solid #F9E494 ;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -30px;
    left: -27px;
    z-index: -1;
    transition:ease-in-out 1.5s
}
.img-container:hover::before{
    top: 0;
    left: 0;

}

.img-sec2{
    width: 100%;
    height: 100%;
  top:  0%;
  right: 0;
  margin-right: 70px;
 
 
}
 .explore2{
    font-family: "Kaushan Script", cursive;  
    width: 120px;
    height: 35px;
    background: none;
    font-size: 20px;
    
    border: 1px solid black;
border-radius: 4px 4px 4px 4px;

 }
 .explore2:hover{
    background-color: black;
    color:#ee6e90;
    transition: 0.2s;
}

/*.container::before{
    content: "";
    position: absolute;
  
    width: 500px;
    height: 350px;
    outline: 0.5rem solid #F9E494;


    
}
*/
 

.section3{
    background-color: rgb(233, 227, 227);
    margin-top: 100px;
}

.section3 h1{
    position: relative;
    text-align: center;
    font-size: 40px;
    ;

}
.store{
    color:#ee6e90;
}
